@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: 'Poppins', sans-serif;
}

:root {
  --bg-color: #081b29;
  --second-bg-color: #112e42;
  --text-color: #ededed;
  --main-color: #00abf0;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
}

a:visited,
a:active,
a:link {
  color: inherit;
}


/* Global Class Starts */

section {
  min-height: 100vh;
  padding: 10rem 9% 2rem;
}



/* Global Class Ends */




/* Header Satrts */

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem 9%;
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.scrolled {
  background-color: var(--bg-color);
  box-shadow: 0.5px 0.5px 1px var(--main-color);
}

.logo {
  position: relative;
  font-size: 2.5rem;
  color: var(--text-color);
  font-weight: 600;
}



.navbar{
  position: relative;
}

.navbar ul {
  list-style-type: none;
  font-size: 1.7rem;
  text-transform: capitalize;
  color: var(--text-color);
  display: flex;
  justify-content: space-between;
  column-gap: 3.5rem;
}



.navbar a:hover,
.navbar a:active,
.navbar a.active-link {
  color: var(--main-color);
}

.fa-bars,
.fa-x {
  position: relative;
  font-size: 3.6rem;
  color: var(--text-color);
  cursor: pointer;
  display: none;
}



/* Header Ends */


/* Home Starts */

.home {
  display: flex;
  align-items: center;
  padding: 0 9%;
  background: url('./images/my.jpg') 80% 30%/cover no-repeat;
  position: relative;
}

.home-imgHover {
  position: absolute;
  width: 50%;
  height: 100%;
  background: transparent;
  /* border: 2px solid red; */
  top: 0;
  right: 0;
  transition: background-color 0.8s, opacity 0.8s;

}



.home-imgHover:hover {
  background: var(--bg-color);
  opacity: 0.6;

}

.home-content {
  position: relative;
  max-width: 62rem;
  z-index: 99;
}

.home-content h1 {
  position: relative;
  display: inline-block;
  font-size: 5.6rem;
  font-weight: 700;
  line-height: 1.3;
}

.home-content .text-animate {
  position: relative;
  width: 32.8rem;

}

.home-content .text-animate h3 {
  font-size: 3.2rem;
  font-weight: 700;
  color: transparent;
  -webkit-text-stroke: 0.8px var(--main-color);
  background-image: linear-gradient(var(--main-color), var(--main-color));
  background-repeat: no-repeat;
  -webkit-background-clip: text;
  background-position: -33rem 0;
  animation: homeBgText 6s linear infinite;
  animation-delay: 1.5s;
}

@keyframes homeBgText {
  0%, 10%, 100%{
    background-position: -33rem 0;
  }

  65%, 85%{
    background-position: 0 0;
  }

}



.home-content .text-animate h3::before{
  content: "";
  width: 0;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-right: 2px solid var(--main-color);
  z-index: -1;
  animation: homeBgBefore 6s linear infinite;
  animation-delay: 1.5s;
}

@keyframes homeBgBefore {
  0%, 10%, 100%{
    width: 0;
  }

  65%, 78%, 85%{
    width: 100%;
    opacity: 1;
  }

  75%, 81%{
    opacity: 0;
  }
}

.home-content p {
  font-size: 1.6rem;
  margin: 2rem 0 4rem;
  position: relative;
}

.btn-box {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 34.5rem;
  height: 5rem;
}

.btn-box .btn {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 15rem;
  height: 100%;
  background: var(--main-color);
  border: 0.2rem solid var(--main-color);
  border-radius: 0.8rem;
  font-size: 1.8rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
  color: var(--bg-color);
  z-index: 1;
  overflow: hidden;
  transition: color 0.5s;
}

.btn-box .btn::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background: var(--bg-color);
  z-index: -1;
  transition: width 0.5s;
}

.btn-box .btn:hover::before {
  width: 100%;

}

.btn-box .btn:nth-child(2) {
  background: transparent;
  color: var(--main-color);
}

.btn-box .btn:nth-child(2):hover {
  color: var(--bg-color);
}

.btn-box .btn:nth-child(2)::before {
  background-color: var(--main-color);
}

.btn-box .btn:nth-child(1) {
  background: var(--main-color);
  color: var(--bg-color);
  
}

.btn-box .btn:nth-child(1):hover {
  color: var(--main-color);
}

.btn-box .btn:nth-child(1)::before {
  background-color: var(--bg-color);
}



.home-sci {
  position: absolute;
  bottom: 4rem;
  width: 170px;
  display: flex;
  justify-content: space-between;
}

.home-sci,
.home .btn-box{
  visibility: hidden;
}


.home-sci a {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: transparent;
  border: 0.2rem solid var(--main-color);
  border-radius: 50%;
  font-size: 20px;
  color: var(--main-color);
  transition: color 0.5s;
  overflow: hidden;
  z-index: 1;
}

.home-sci a::before {
  content: '';
  width: 0%;
  height: 100%;
  background: var(--main-color);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: width 0.4s;
}

.home-sci a:hover {
  color: var(--bg-color);

}

.home-sci a:hover::before {
  width: 100%;
}


/* Animation Reload and Scroll */






/* Home Ends */



/* About Starts */

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  background-color: var(--second-bg-color);
  padding-bottom: 6rem;
}

.heading {
  position: relative;
  font-size: 5rem;
  margin-bottom: 3rem;
  text-align: center;
}

.heading span {
  color: var(--main-color);
}

.about-img {
  position: relative;
  width: 25rem;
  height: 25rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

}

.about-img img {
  width: 90%;
  border-radius: 50%;
  border: 0.2rem solid var(--main-color)
}

.about-img .circle-spin {
  display: inline-block;
  position: absolute;
  /* top: 50%;
  left: 50%; */
  /* transform: translate(-50%, -50%); */
  width: 100%;
  height: 100%;
  border-top: 0.2rem solid var(--second-bg-color);
  border-bottom: 0.2rem solid var(--second-bg-color);
  border-left: 0.2rem solid var(--main-color);
  border-right: 0.2rem solid var(--main-color);
  border-radius: 50%;
  animation: spin 12s infinite linear;
}

@keyframes spin {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

.about-content {
  text-align: center;
}

.about-content h3 {
  position: relative;
  display: inline-block;
  font-size: 2.6rem;
}

.about-content p {
  position: relative;
  display: inline-block;
  font-size: 1.6rem;
  margin: 2rem 0 3rem;
}

.btn-box.btns {
  display: inline-flex;
  width: 15rem;
}

.btn-box.btns a::before {
  background: var(--second-bg-color);
}


/* About Ends */


/* Projects Starts */

.projects {

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: auto;
  padding-bottom: 5rem;
}

.projects-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  gap: 3rem;

}

.project-box{
  position: relative;
}

.project-content {
  position: relative;
  padding-left: 2rem;

}

.project-content .content {
  position: relative;
  /* padding: 1.5rem; */
  border: 0.2rem solid var(--main-color);
  border-radius: 0.6rem;
  padding: 0.8rem;
  /* padding-top: 1rem;
  padding-bottom: 1rem; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 16rem;

}

.project-content .content h3 {
  font-size: 2rem;

}

.project-content .content p {
  font-size: 1.6rem;
  padding-top: 0.5rem;
}

.project-content::before {
  content: '';
  position: absolute;
  top: 50%;
  left: -1rem;
  transform: translateY(-50%);
  width: 2rem;
  height: 2rem;
  background: var(--main-color);
  border-radius: 50%;
  z-index: 1;
}

.project-content::after {
  content: '';
  position: absolute;
  top: 50%;
  left: -0.3rem;
  transform: translateY(-50%);
  width: 0.4rem;
  height: 100%;
  background: var(--main-color);
  z-index: -1;
}

.content::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background: rgba(255, 255, 255, 0.1);
  z-index: -1;
  transition: width .5s;
}

.content:hover::before {
  width: 100%;
}


.projects-container .project-box {
  flex: 1 1 calc(100%);
}

@media screen and (min-width: 1080px) {

  .projects-container {
    flex-direction: row;
    justify-content: space-between;
  }

  .projects-container .project-box {
    flex: 1 1 calc(50% - 3rem);
  }
}

@media screen and (min-width: 1080px) {

  .projects-container {
    gap: 5rem;
    justify-content: center;
  }


}

/* Projects Ends */



/* Skills Starts */

.skills {
  min-height: auto;
  padding-bottom: 7rem;
  background: var(--second-bg-color);
}



.skills .skills-row {
  display: flex;
  flex-wrap: wrap;
  gap: 5rem;
  justify-content: space-between;


  /* display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 1fr;
  gap: 5rem; */
}

.skills-row .skills-column {
  /* height: 100%; */
  flex: 0 0 calc(50% - 5rem);
}



.skills-column .title {
  position: relative;
  font-size: 2.5rem;
  margin: 0 0 1.5rem;
}

.skills-box{
  position: relative;
}

.skills-box .skills-content {
  position: relative;
  border: 0.2rem solid var(--main-color);
  border-radius: 0.6rem;
  padding: 0.5rem 1.5rem;
  z-index: 1;
}

.skills-box .skills-content::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 00%;
  height: 100%;
  background: var(--bg-color);
  transition: width 0.5s;
  z-index: -1;
}

.skills-box .skills-content:hover::before {
  width: 100%;
}

.skills-content .progress {
  padding: 1rem 0;

}

.skills-content .progress h3 {
  font-size: 1.7rem;
  display: flex;
  justify-content: space-between;
}

.skills-content .progress h3 span {
  color: var(--text-color);
}

.skills-content .progress .bar {
  height: 2.5rem;
  border-radius: 0.6rem;
  border: 0.2rem solid var(--main-color);
  padding: 0.5rem;
  margin: 0.5rem 0;
}

.skills-content .progress .bar span {
  display: block;
  height: 100%;
  border-radius: 0.3rem;
  background: var(--main-color);
}

.skills-column:nth-child(1) .skills-content .progress:nth-child(1) .bar span {
  width: 80%;
}

.skills-column:nth-child(1) .skills-content .progress:nth-child(2) .bar span {
  width: 70%;
}

.skills-column:nth-child(1) .skills-content .progress:nth-child(3) .bar span {
  width: 70%;
}

.skills-column:nth-child(1) .skills-content .progress:nth-child(4) .bar span {
  width: 70%;
}

.skills-column:nth-child(1) .skills-content .progress:nth-child(5) .bar span {
  width: 70%;
}

.skills-column:nth-child(1) .skills-content .progress:nth-child(6) .bar span {
  width: 70%;
}

.skills-column:nth-child(2) .skills-content .progress:nth-child(1) .bar span {
  width: 60%;
}

.skills-column:nth-child(2) .skills-content .progress:nth-child(2) .bar span {
  width: 60%;
}

.skills-column:nth-child(2) .skills-content .progress:nth-child(3) .bar span {
  width: 60%;
}

.skills-column:nth-child(2) .skills-content .progress:nth-child(4) .bar span {
  width: 60%;
}


/* Skills Ends */


/* Contact Starts */

.contact {
  min-height: calc(100vh - 30vh);
  margin-top: 5rem;
  padding-bottom: 7rem;

}

.contact .heading{
  position: relative;
}

.contact form {
  max-width: 70rem;
  margin: 0 auto;
  text-align: center;
}

.contact form .input-box {
  position: relative;
  display: flex;

  justify-content: space-between;
  flex-wrap: wrap;

}

.input-box .input-field {
  position: relative;
  width: 49%;
  margin: 0.8rem 0;

}

.input-box .input-field input,
.contact form .textarea-field textarea {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 1.5rem;
  font-size: 1.6rem;
  color: var(--text-color);
  background: transparent;
  border-radius: 0.6rem;
  border: 0.2rem solid var(--main-color);
  z-index: 1;
}

.input-box .input-field input::placeholder,
.contact form .textarea-field textarea::placeholder {
  color: var(--text-color);
}

.contact form .textarea-field {
  position: relative;
  margin: 0.8rem 0 2.7rem;
  display: flex;
}

.contact form .textarea-field textarea {
  resize: none;
}

.contact form .btn-box.btns .btn {
  cursor: pointer;
}

.contact form .focus {
  width: 0%;
  height: 100%;
  border-radius: 0.6rem;
  background: var(--second-bg-color);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: width 0.5s;
}


.input-box .input-field input:focus~.focus,
.contact form .textarea-field textarea:focus~.focus {
  width: 100%;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

}

/* Contact Ends */

/* Footer Starts */

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 2rem 9%;
  background-color: var(--second-bg-color);
}


.footer-text p {
  font-size: 1.6rem;
  position: relative;
}

.footer-icontop {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background: var(--main-color);
  border: 0.2rem solid var(--main-color);
  border-radius: 0.6rem;
  z-index: 1;
}

.footer-icontop::before {
  content: "";
  width: 0%;
  height: 100%;
  border-radius: 0.6rem;
  background: var(--second-bg-color);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: width 0.5s;
}



.footer-icontop:hover::before {
  width: 100%;
}

.footer-icontop a i {
  font-size: 2.4rem;
  color: var(--bg-color);
  transition: color 0.5s;
}

.footer-icontop:hover.footer-icontop a i {
  color: var(--main-color);
}



/* Footer Ends */



/* Braek-Points */

@media screen and (max-width:1200px) {
  html {
    font-size: 55%;
  }
}


@media screen and (max-width: 1083px) {

  .home-imgHover {
    pointer-events: none;
    background: var(--bg-color);
    opacity: 0.6;
    width: 100%;
  }

  .home{
    background: var(--bg-color);
    margin-inline: auto;
  }

}

@media screen and (max-width: 991px) {
  .header {
    padding: 2rem 4%;
  }

  section {
    padding: 10rem 4% 2rem;
  }

  .home {
    padding: 0 4%;
  }

  .footer {
    padding: 2rem 4%;
  }

}

@media screen and (max-width: 768px) {
  .header {
    background: var(--bg-color);
    /* position: relative; */
    z-index: 1000;
    /* overflow: hidden; */
  }

  .fa-bars,
  .fa-x {
    display: block;
  }

  .navbar {
    position: absolute;
    top: 100%;
    left: -100%;
    width: 100%;
    padding: 1rem 4%;
    background: var(--main-color);
    box-shadow: 0rem .2rem 0.1rem var(--main-color);
    transition: left 0.5s;
    transition-delay: 0.5s;
    z-index: 1;
  }

  .navbar.showNav {
    left: 0;
    transition-delay: 0s;
  }

  .navbar .active-nav {
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: var(--bg-color);
    border-top: 0.1rem solid rgba(255, 255, 255, 0.2);
    z-index: -1;
    transition: left 0.8s 0s;
    /* transition-delay: 0.8s;  */
  }

  .navbar.showNav .active-nav {
    left: 0;
    transition-delay: 0.3s;
  }

  .navbar ul {
    font-size: 2rem;
    margin: 3rem 0;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    transform: translateX(-15rem);
    transition: transform 0.5s 0s;
  }

  .navbar.showNav ul {
    transform: translateX(0rem);
    transition-delay: 0.6s;
  }

  .home{
    background: var(--bg-color);
  }


  .home-imgHover {
    pointer-events: none;
    background: var(--bg-color);
    opacity: 0.6;
    width: 100%;
  }

  /* .home h1 .animate,
  .home h3 .animate,
  .home p .animate,
  .home .btn-box .animate,
  .home-sci .animate{
    background-color: var(--bg-color);
  } */


  .skills-row .skills-column {
    /* height: 100%; */
    flex: 0 0 calc(100%);
  }

}



@media screen and (max-width: 520px) {
  html {
    font-size: 50%;
  }

  .home-content h1 {

    display: flex;
    flex-direction: column;
  }

  .home-sci {
    width: 160px;
  }

  .home-sci a {
    width: 38px;
    height: 38px;
  }

}

@media screen and (max-width: 462px) {
  .home-content h1 {
    font-size: 4.8rem;
  }

  .contact form .input-box {
    position: relative;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;

  }

  .contact form .input-box .input-field {
    width: 100%;
  }

  .footer {
    flex-direction: column-reverse;
  }

  .footer p {
    margin-top: 2rem;
    text-align: center;
  }

   .home {
    justify-content: center;
  }

  .home-content {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* text-align: center; */
  }

  .home-sci{
    text-align: center;
  }


}

@media screen and (max-width: 375px) {
 




}


 /* Animation Reload and Scroll */
.animate{
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: var(--bg-color);
}

.animate .home-img{
  width: 50%;
}



.logo .animate,
.navbar .animate,
.fa-bars .animate,
.fa-x .animate,
.home.active-section .animate,
.home.active-section .home-sci .animate,
.home.active-section .home-imgHover .animate{
  animation: showRight 1s ease forwards;
  animation-delay: calc(0.1s * var(--i));
  z-index: 1;
}

.home.active-section .btn-box ,
.home.active-section .home-sci {
  visibility: visible;

}

.animate.scroll{
  transition: 1s ease;
  transition-delay:  calc(0.1s / var(--i));
  animation: none;
  z-index: 1;
}

section:nth-child(even) .animate,
footer .animate{
  background: var(--second-bg-color);
}

.project-box .animate{
  width: 102%;
}

.about.active-section .animate.scroll,
.projects.active-section .animate.scroll,
.skills.active-section .animate.scroll,
.contact.active-section .animate.scroll,
.footer.active-section .animate.scroll{
  transition-delay:  calc(0.1s * var(--i));
  width: 0;
}


@keyframes showRight{
  100%{
    width: 0;
  }
}
